# IBM Tools for Data Science - Final Exam

## Introduction

You will be provided with an empty Jupyterlite notebook which you will launch in the course, to complete this assignment. You will need to include a combination of markdown and code cells. You will likely need to use the Markdown cheat sheet to help you determine the appropriate syntax for your markdown.

## Data Science Languages

1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. MATLAB
8. Go
9. C/C++

## Data Science Libraries
1. NumPy
2. Pandas
3. MatplotLib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Scala: Vegas
11. Scala: BigDL
12. R: ggplot
13. R: dplyr
14. R: stringr
15. R: caret

## Data Science Tools
| ID  | Tools                         | Tag          | Description                                     |
| --- | ----------------------------- | ------------ | ----------------------------------------------- |
| 1   | MySQL                         | Database     | Relational database management system (RDBMS).   |
| 2   | PostgreSQL                    | Database     | Object-relational database system.               |
| 3   | MongoDB                       | Database     | NoSQL document-oriented database.               |
| 4   | Apache CouchDB                | Database     | Distributed NoSQL database.                      |
| 5   | Apache Cassandra              | Database     | Highly scalable NoSQL database.                  |
| 6   | Hadoop                        | Big Data     | Framework for distributed storage and processing.|
| 7   | Spark                         | Big Data     | Fast and general-purpose cluster computing system.|
| 8   | AirFlow                       | Big Data     | Platform to programmatically author, schedule, and monitor workflows.|
| 9   | KubeFlow                      | Big Data     | Kubernetes-native platform for deploying and managing ML workflows.|
| 10  | Nifi                          | Big Data     | Data integration and data flow automation tool. |
| 11  | NodeRED                       | IoT          | Flow-based development tool for visual programming.|
| 12  | Prometheus                    | Monitoring   | Open-source systems monitoring and alerting toolkit.|
| 13  | IBM Explainability 360 toolkit | AI           | Toolkit for evaluating and explaining machine learning models.|
| 14  | Jupyter (Notebook and labs)   | Analytics    | Open-source web application for creating and sharing documents with live code, equations, visualizations.|
| 15  | RStudio                       | Analytics    | Integrated development environment (IDE) for R.   |
| 16  | IBM Watson                    | AI           | IBM's AI platform providing various services and tools.|
| 17  | Spyder                        | Analytics    | IDE for Python, specifically for scientific computing.|
| 18  | Apache Zeppelin               | Analytics    | Multi-purpose notebook for data exploration and visualization.|

## Python Code

In [34]:
# some examples of arthmetic expr in python
# First, define some numbers
x = 1
y = 2
z = 3
print(x, y, z)

1 2 3

In [35]:
# Then we can do some basic math on them
a = x + z
b = y + z
c = y * z
print(a, b, c)

4 5 6

In [36]:
# now we can make even more complex examples
f = 3 * a + 2 * b + 3 * c
g = (a * b * c) + (x + y + z)
h = a ** x + b ** y + c ** z
print(f, g, h)

40 126 245

In [37]:
# given a number of minutes, convert it to hours and print the string
def minutes_string(minutes):
    print(f'{minutes}m is: ', end='')
    hours = minutes // 60
    min_remain = minutes % 60
    ms = 'minute' if min_remain == 1 else 'minutes'
    if hours == 0:
        print(f'{min_remain} {ms}')
    else:
        hs = 'hour' if hours == 1 else 'hours'
        
        if min_remain > 0:
            print(f'{hours} {hs} and {min_remain} {ms}')
        else:
            print(f'{hours} {hs}')

In [38]:
# Several tests
minutes_string(0)
minutes_string(1)
minutes_string(15)
minutes_string(60)
minutes_string(61)
minutes_string(75)
minutes_string(120)
minutes_string(121)
minutes_string(135)

0m is: 0 minutes
1m is: 1 minute
15m is: 15 minutes
60m is: 1 hour
61m is: 1 hour and 1 minute
75m is: 1 hour and 15 minutes
120m is: 2 hours
121m is: 2 hours and 1 minute
135m is: 2 hours and 15 minutes

## Exam Objectives
* [x] Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
* [x] Exercise 3 - Create a markdown cell for an introduction. (1 pt)
* [x] Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
* [x] Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
* [x] Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
* [x] Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
* [x] Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
* [x] Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
* [x] Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
* [x] Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
* [x] Exercise 12 - Share your notebook through GitHub (3 pts)
* [x] Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

# Author
## Enzo Ferber